body{
	background-color: #f8f8f8;
}

div{
	border: 1px solid red;
	margin-top: 5px;
}


.home{
	text-decoration: none;
}

.main{
width: 95%;
margin: 0 auto;
}

.logo{
width: 210px;
height: 43px;
float: left;
line-height: 10px;
}


.menu{
width: 100%;
height: 45px;
float: left;
font-size: 14px;
clear: both;
background: linear-gradient(to bottom, #f99a26 0%, #ef8526 150%);
}

.menu ul{
margin: 0;
padding: 0;
}


li{
list-style: none none;
float: left;
font-family: arial;
height: 100%;
width: 8%;
text-decoration: none;
display: block;
padding: 0;
margin: 0;
}

a{
	text-decoration: none;
}

.btn{
	color: #fff;
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 40px;
}

.btn:hover{
	background-color: #555;
}

.banner{
height: 250px;
width: 100%;
float: left;
}

.destaque{
width: 20%;
height: 180px;
float: left;
margin: 3%;
}

.destaque.last{
	margin-right: 0;
	float: right;
}

.destaque.first{
	margin-left: 0;
}

input{
	float: right;
	margin: 7px;
	width: 20%;
	height: 60%;
	text-align: right;
	color: grey;
}